{% extends 'base.html.twig' %}

{% block title %}
    Vektorprogrammet
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset_with_version('build/pages/home.css') }}">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        {% include 'home/admission_banner.html.twig' %}
        <section class="row hero">
            <div class="container">
                <div class="row hero-section">
                    <div class="col-12 col-md-6">
                        <h1 class="d-md-none mobile">Vektorprogrammet</h1>
                        <img class="hero-image" src="{{ asset_with_version('images/blackboard.png') }}" alt="Assistenter og tavle">
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="hero-content">
                            <h1 class="d-none d-md-block">Vektorprogrammet</h1>
                            <p>- sender studenter til ungdomsskoler for å hjelpe til som lærerens
                                assistent i matematikkundervisningen</p>

                            <a href="{{ path('assistants') }}">
                                <button class="btn btn-success cta-link">
                                    Les mer og bli assistent
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="container">
        <section class="members-info">
            <div class="row">
                <div class="col-12 col-md-6">
                    <p class="counter">
                        <span class="text-bold count">{{ assistantCount }}</span><br> Assistenter
                    </p>
                    <p>Over <span class="text-bold">{{ assistantCount }}</span> studenter har hatt et verv som
                        vektorassistent i Vektorprogrammet.</p>
                    <p><a href="{{ path('assistants') }}">Les mer om assistenter <i class="fa fa-chevron-right"></i></a>
                    </p>
                </div>
                <div class="col-12 col-md-6">
                    <p class="counter">
                        <span class="text-bold count">{{ teamMemberCount }}</span><br> I team
                    </p>
                    <p>Over <span class="text-bold">{{ teamMemberCount }}</span> studenter har hatt et verv i et
                        av Vektorprogrammets mange team.</p>
                    <p><a href="{{ path('team') }}">Les mer om verv i team <i class="fa fa-chevron-right"></i></a></p>
                </div>
            </div>
        </section>

        <section class="sponsors">
            <hr>
            {{ include('sponsors/sponsors.html.twig') }}
        </section>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"
            integrity="sha384-0saKbDOWtYAw5aP4czPUm6ByY5JojfQ9Co6wDgkuM7Zn+anp+4Rj92oGK8cbV91S"
            crossorigin="anonymous">
    </script>
    <script>
      $('.carousel').carousel({
        interval: 10000,
      });
    </script>
    {% if closestDepartment.activeAdmission %}
        <script>
          function zeroPad(num, size) {
            return (Math.pow(10, size) + num).toString().substring(1);
          }

          function updateCountDown() {
            var admissionTimeStamp = {{ closestDepartment.currentAdmissionPeriod.endDate.timestamp }} *
            1000;
            var currentTimeStamp = new Date();

            var millisUntilAdmission = Math.max(admissionTimeStamp - currentTimeStamp, 0);

            $('#cd-days').html(zeroPad(Math.floor(moment.duration(millisUntilAdmission).asDays()), 2));
            $('#cd-hours').html(zeroPad(moment.duration(millisUntilAdmission).hours(), 2));
            $('#cd-minutes').html(zeroPad(moment.duration(millisUntilAdmission).minutes(), 2));
            $('#cd-seconds').html(zeroPad(moment.duration(millisUntilAdmission).seconds(), 2));
          }

          updateCountDown();
          setInterval(updateCountDown, 1000);
        </script>
    {% endif %}
{% endblock %}
