{% extends 'adminBase.html.twig' %}
{% block title %}Kontrollpanel{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset_with_version('css/pages/admin/home.css') }}">
{% endblock %}

{% block default_breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('home') }}">Forsiden</a>
    </li>
    <li class="breadcrumb-item active">
        Kontrollpanel
    </li>
{% endblock %}


{% block body %}
    <div class="control-panel">
        <div class="sbs my-5">
            {{ render(controller('App\\Controller\\ControlPanelController::showSBS')) }}
        </div>

        <div class="row">
            {% if admissionPeriod and admissionPeriod.hasActiveAdmission %}
                {{ render(controller('App\\Controller\\WidgetController::applicationGraph')) }}
            {% endif %}

            {{ render(controller('App\\Controller\\WidgetController::availableSurveys')) }}
            {{ render(controller('App\\Controller\\WidgetController::interviews')) }}
            {{ render(controller('App\\Controller\\WidgetController::receipts')) }}
            {{ render(controller('App\\Controller\\WidgetController::changelog')) }}
            {{ render(controller('App\\Controller\\WidgetController::interviews')) }}
            {# {{ render(controller("AppBundle:Widget:feedback",{'request': app.request})) }} {# TODO: Fix this #}
            {# {{ render(controller("App\\Controller\\WidgetController::feedback")) }} {# TODO: Fix this (these two are the same)#}

            {% if not admissionPeriod or not admissionPeriod.hasActiveAdmission %}
                {{ render(controller('App\\Controller\\WidgetController::applicationGraph')) }}
            {% endif %}
        </div>
    </div>
{% endblock %}
