{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset_with_version('css/pages/assistants.css') }}">
{% endblock %}

{% block body %}
    <div class="container-fluid assistants">
        <div class="content">
            <header class="row page-header mb-0">
                <div class="col-12">
                    <h1>Assistenter</h1>
                    <p>Vektorassistent er et frivillig verv der du reiser til en ungdomsskole
                        én dag i uka for å hjelpe til som&nbsp;<strong>lærerassistent i matematikk</strong>.
                        En stilling som vektorassistent varer i 4 eller 8 uker, og du kan selv velge hvilken ukedag som
                        passer best for deg.</p>
                </div>
            </header>
        </div>

        {% if departmentsWithActiveAdmission is not empty %}
            <div class="content text-center call-to-action jumbotron">
                <i class="fa fa-info-circle alert-icon text-dark-blue"></i>
                {% if department_in_url and specific_department in departmentsWithActiveAdmission %}
                    <p class="text-dark-blue">
                        Avdeling
                        <span class="active-admission-departments">
                            {{ specific_department }}
                        </span>
                        har opptak nå!
                    </p>
                {% else %}
                    <p class="text-dark-blue">
                        Disse avdelingene har opptak nå:
                        <br class="d-md-none">
                        <span class="active-admission-departments">
                            {{ departmentsWithActiveAdmission|join(', ') }}
                        </span>
                    </p>
                {% endif %}
                <button class="btn btn-md btn-success" onclick="scrollToElement('application')">
                    Scroll ned for å søke! <i class="fa fa-arrow-down"></i>
                </button>
            </div>
        {% else %}
            <br>
        {% endif %}

        <section class="container assistant-perks">
            <div class="row">
                <div class="blurb col-xs-12 col-md-4">
                    <img src="{{ asset_with_version('images/graduation.svg') }}" alt="CV">
                    <h4>Vær et forbilde</h4>
                    <p>Som vektorassistent er du med på å gjøre matte gøy. Ditt engasjement
                        kan bidra til økt motivasjon og lærelyst. Bli med og gjør en forskjell!</p>
                </div>
                <div class="blurb col-xs-12 col-md-4">
                    <img src="{{ asset_with_version('images/calendar.svg') }}" alt="CV">
                    <h4>Sosiale arrangementer</h4>
                    <p>Alle assistenter blir invitert til arrangementer som f.eks. fester,
                        populærforedrag, bowling, grilling i parken, gokart og paintball.</p>
                </div>
                <div class="blurb col-xs-12 col-md-4">
                    <img src="{{ asset_with_version('images/certificate.svg') }}" alt="CV">
                    <h4>Fint å ha på CVen</h4>
                    <p>Erfaring som arbeidsgivere setter pris på. Alle assistenter får en attest.</p>
                </div>
            </div>
        </section>

        <div class="content">

            <section>
                <h2>Lærerassistent i matematikk</h2><p>Vektorprogrammet er en studentorganisasjon som
                    sender realfagssterke studenter til grunnskolen for å hjelpe elevene med matematikk
                    i skoletiden. Vi ser etter deg som lengter etter en mulighet til å lære bort
                    kunnskapene du sitter med og ønsker å ta del i et sterkt sosialt fellesskap.
                    Etter å ha vært vektorassistent kommer du til å sitte igjen med mange
                    gode erfaringer og nye venner på tvers av trinn og linje.</p>

                <img src="{{ asset_with_version('images/teacher.png') }}" class="teacher-img">
                <p>I tillegg vil du få muligheten til å delta på mange sosiale arrangementer, alt fra fest og
                    grilling til go-kart, laser tag og spillkvelder. Samtidig arrangerer vi populærforedrag
                    som er til for å øke motivasjonen din for videre studier. Vi har hatt besøk av blant
                    annet Andreas Wahl, Jo Røislien, Knut Jørgen Røed Ødegaard og James Grime.</p>

            </section>
            <section>
                <h2>Arbeidsoppgaver</h2>
                <p>Som vektorassistent er du ute én dag i uka, i 4 eller 8 uker,
                    på en ungdomsskole i nærområdet. Vi tilpasser timeplanen slik at du selv
                    kan bestemme hvilken dag som passer best. Vektorassistenter blir sendt ut i par, slik at du
                    alltid kan ha noen å støtte deg på. Oppgavene dine vil variere fra
                    å gå rundt i klasserommet og hjelpe elever med oppgaver, til å
                    gjennomgå utvalgte temaer i mindre grupper. Det er læreren som bestemmer
                    hva som skal bli gjennomgått. Dette arbeidet blir satt stor pris på
                    av både barn og lærere!</p>

            </section>

            <section>
                <h2>Hvordan blir jeg Vektorassistent?</h2>
                <div class="row requirements">
                    <div class="col-xs-12 col-md-6">
                        <h5>Opptakskrav</h5>
                        <ul>
                            <li>Du studerer på høgskole/universitet</li>
                            <li>Du har hatt R1/S2 på videregående</li>
                            <li>Du har tid til å dra til en ungdomsskole&nbsp;<br />én dag i uka (kl. 8-14)</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <h5>Opptaksprosessen</h5>
                        <ol>
                            <li>Vektorprogrammet tar opp nye assistenter i starten av hvert semester</li>
                            <li>Send inn søknad fra skjemaet lengre ned på denne siden</li>
                            <li>Møt opp på intervju slik at vi kan bli bedre kjent med deg</li>
                            <li>Dra på et gratis forberedelseskurs arrangert av Vektorprogrammet</li>
                            <li>Få tildelt en ungdomsskole som du og din vektorpartner skal dra til</li>
                        </ol>
                    </div>

                </div>
            </section>

            <section id="application">
                <h2>Søk nå!</h2>
                {% include 'admission/application_form.html.twig' %}
                {% include 'common/flash.html.twig' %}
            </section>

            <p class="medium-bold text-center">Har du noen spørsmål? Sjekk ut
                <a href="/omvektor#FAQ">ofte stilte spørsmål og svar</a>.
            </p>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% if scroll_to_admission_form %}
        <script>
            $('document').ready(function() {
                window.location.hash = 'application';
            });
        </script>
    {% endif %}
    <script>
        $(document).ready(function() {
            /* Contact tabs */
            changeDepartment({{ specific_department.id }});

            // Make tab and department form field change when selector value changes
            $('#department-box-selector').on('change', function () {
                changeDepartment($(this).val());
            });

            // Make selector value and department form field change when tab changes
            $('#department-box-tabs a').on('click', function() {
                changeDepartment($(this).attr('aria-controls'));
            });
        });

        function changeDepartment(id) {
            $("#department-box-tabs a[aria-controls='"+id+"']").tab("show");
            $('#department-box-selector').val(id);
        }
    </script>

    <script>
      (function addEventListeners() {
          var inputs = document.querySelectorAll('.subscribe-input');
          for (var i = 0; i < inputs.length; i++) {
            var input = inputs[i];
            input.addEventListener('focus', clearErrors);
            input.addEventListener('blur', validate);
            input.addEventListener('keyup', enterSubmit);
          }
        })();

        function clearErrors() {
          var input = this.parentNode.querySelector('input[type=\'email\']');
          if (!input) {
            return;
          }
          input.classList.remove('is-invalid');
        }


        function validate(target) {
          if (target.target) {
            target = target.target;
          }
          if (!target.parentNode) {
            alert("Noe gikk galt");
            return false;
          }
          var input = target.parentNode.querySelector('input[type=\'email\']');
          var error = target.parentNode.querySelector('.invalid-feedback');
          if (!input || !error) {
            alert("Noe gikk galt");
            return false;
          }
          var email = input.value;
          if (!email) {
            setError(input, 'E-post må fylles ut');
            return false;
          }

          return true;
        }

        function enterSubmit(e) {
          if (e.keyCode === 13) {
            e.target.parentNode.querySelector('button').click();
          }
        }

        function subscribe(department, target) {
          if (!validate(target)) {
            return;
          }
          var email = target.parentNode.querySelector('input[type=\'email\']').value;
          var infoMeeting = target.parentNode.querySelector('input[type=\'checkbox\']').checked;
          $.ajax({
            type: "POST",
            url: "{{ path('admission_subscribe') }}",
            data: {
                department: department,
                email: email,
                infoMeeting: infoMeeting
            },
            success: function () {
                setComplete(target)
            },
            error: function(err) {
              if (err.responseText.indexOf("Dette er ikke en gyldig e-postadresse") !== -1) {
                setError(target, 'Dette er ikke en gyldig e-postadresse');
              } else {
                setError(target, 'Det har skjedd en feil under registrering av e-postadressen. Vennligst prøv igjen.')
              }
            },
            dataType: "json"
          });
        }
        function setComplete(element) {
          $(element).parent('.form-group').html("<div class='text-center'>" +
            "<i class='fa fa-3x fa-check text-success'></i>" +
            "<p>Vi sender deg en melding når opptaket starter!</p>" +
            "</div>")

        }
        function setError(element, message) {
          var input = element.parentNode.querySelector('input');
          var error = element.parentNode.querySelector('.invalid-feedback');
          if (!input || !error) {
            alert("Noe gikk galt");
            return false;
          }

          input.classList.add('is-invalid');
          error.innerHTML = message;
        }
        function scrollToElement(elementId) {
            let selector = '#' + elementId;
            $('html, body').animate({ scrollTop:  $(selector).offset().top - 50 }, 'slow');

        }
    </script>
{% endblock %}
